doctype html
head
body
  form(id="formElem")
    input(type="text" id="user_id" value="auth0|6389525ebc99c67d7151fd81")

    select(id="roles")
      option(value="rol_L442H1hd8nuOcECs") Administrator
      option(value="rol_7fgaz6vBKW3qv8XU") Sponsor
      option(value="rol_TxeO0iV52VTRhf7x") Team Manager
      option(value="rol_IoBAUGaE6NsddNWI") User

    input(type="submit")

  script(src="/static/scripts/script.js")

  a(href="/roles") Roles